[user]
	name = bmweiner
	email = bmweiner@users.noreply.github.com
[credential]
	helper = osxkeychain
	helper = store
[color]
	ui = true
[core]
	editor = vim
[push]
	default = simple

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
